@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@import
url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



body{
  background: #111;
}

.front_button{
 position: absolute;
    left: 42.5%;
    bottom: 30%;
    background: none;
    color: #ffbd40;
    width: 200px;
    height: 55px;
    border: 2px;
    border: 1px solid;
    border-color: #ffbd40;
    font-size: 22px;
    font-weight: normal;
    border-radius: 0;
    font-family: 'Quicksand', sans-serif;
    transition: 0.6s;
    overflow: hidden;
  :focus {
    outline: 0;
  }
  }
  .front_button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
 .front_button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  .front_button:hover{
    background: #ffbd40;
    color: #363538;
    border: 0px;
    cursor: pointer;
    ::before{
      transform: translateX(300px)  skewX(-15deg);
      opacity: 0.6;
      transition: 0.7s;
    }
    
    ::after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 0.7s;
    }
}  
